<h4 class="media-heading">Hello <%= @user.username %></h4>
You have <%= pluralize(@user.items.count, 'item') %> left to do to make your dreams come true

<h3>Items:</h3>
<%= render @items%>

<h3>What to do next?</h3><br>
<%= render partial: 'items/form', locals: {user: @user} %>