<!DOCTYPE html>
<html>
    
<head>
<style></style>
</head>

<body>


<!--<small>Welcome#index</small>
<p>Find me in app/views/welcome/index.html.erb</p>

<div id="sign">
    Sign up | Sign in
    
</div>


<div id="rcorners" >
<h1>Blocitoff:</h1>

<p>A self-destructing to-do list to keep you focused on the things that really matter.</p>
</div>

</body>
-->

<h1>Blocitoff</h1>
<p>Blocitoff is a self-destructing to-do list app meant to keep your to-do list focused and free of clutter.</p>