<!DOCTYPE html>
<html lang="en">
    <header>
<head>
<style>
header h1{
    border: 0; margin: 0;
    background-color: black;
}
*{
    border: 0; margin: 0;
}
head {
        
}

#htitle { 
  text-indent: 2em;
}




    
    
</style>

<h1 id="htitle">Blocitoff</h1>
</head>
</header>


    
    

<body background="https://lh3.googleusercontent.com/J8_dbeVbVdf7_yZl45yXfZPiPdqPYEOiBmWzpC4h2Q7kNE1oAuI43PFty0cJTPv8NVL2WXc_TDSRx6U=w2412-h1298-rw">



<!--<small>Welcome#index</small> -->

<center>
<div id="rcorners" >
<p><strong>Blocitoff</strong> : a self-destructing to-do list to keep you focused on the things that really matter.</p>
<br>
<p>[ Find me in app/views/welcome/index.html.erb ]</p>

</div>
</center>
</div>
</body>






</html>