<div class = "list-group">
    <%= link_to "", user_item_url(@user.id, item.id), method: :delete, class: 'glyphicon glyphicon-check' %>
<%= item.name %>   -
  <small>created <%= time_ago_in_words(item.created_at) %> ago |
  Time left: <%= distance_of_time_in_words(Time.now, item.created_at + 5.minutes, include_seconds: true)%></small>

</div>