/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 //*= require_tree .
// *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
//@import "bootstrap-sprockets";
@import "bootstrap";


a {
    color: white;
    margin: 5px;
    padding-top: 10px;

}




#line {
    color: white;
}

      #navcontainer ul { 
            list-style-type: none; 
            margin: 0;
            padding: 0;
            float:right;
      }
      #navcontainer ul li { 
          display: inline; 
      }
      
      #navcontainer ul li a { 
          text-decoration: none; 
      }
      
      #navcontainer ul li a:hover {
        color: white;
        background-color: orange;
      }
      
      #rcorners {
/*    height: 300px;
    width: 100px;
    background: #D3D3D3; */
    color: white;


  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  border-radius:30px;
/*  border: #solid 10px #000;*/
  background-color: rgba(105,100,100,0.8);
  width:50%;


/*  margin-left: auto ; 
  margin-right: auto ;



/*    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px; */
    }

header h1{
    border: 0; margin: 0;
    background-color: black;
}
*{
    border: 0; margin: 0;
}


#htitle { 
  text-indent: 2em;
}







      #wel-rcorners {
    height: 60px;
    width: 100px;
/*    background: #D3D3D3; */
    color: white;


  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  border-radius:30px;
/*  border: #solid 10px #000;*/
  background-color: rgba(105,100,100,0.8);
  width:50%;

}